@charset "UTF-8";
* {
  box-sizing: border-box;
}

body .footer .orange-block .footer-orange-block-content .footer-orange-block-button button, body .main-news .news-button button, body .main .logo-content .logo-button button {
  width: 225px;
  height: 50px;
  border: none;
  background-color: #fbad27;
  color: white;
  border-radius: 50px;
  font-weight: bold;
  cursor: pointer;
}

body .footer .footer-main .row-grid .instagram, body .footer .footer-main .row-grid .facebook, body .footer .footer-main .row-grid .twiter {
  background-image: url(icon/footer-twiter.png);
  background-color: #616161;
  background-position: center;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  height: 40px;
  width: 40px;
}

body .footer .footer-main .row-grid .footer-follow-us-logo, body .footer .footer-main .row-grid .footer-contact-us-logo, body .footer .footer-main .row-grid .footer-address-logo, body .footer .footer-main .row-grid .footer-about-us-logo {
  color: black;
  font-size: 20px;
  margin-bottom: 30px;
  font-weight: 600;
}

body .footer .footer-main .row-grid .footer-contact-us-below-logo, body .footer .footer-main .row-grid .footer-address-below-logo, body .footer .footer-main .row-grid .footer-about-us-below-logo {
  color: #757575;
  font-size: 16px;
  line-height: 25px;
}

[class*=slider-content-] {
  margin-left: 50px;
  margin-right: 20px;
}

body .main-client .client-content, body .main-news .news-content, body .main-destination .destination-content {
  margin: 0 auto;
  margin-top: 150px;
  margin-bottom: 85px;
}

body .main-client .client-content .client-text, body .main-news .news-content .news-text, body .main-destination .destination-content .destination-text {
  font-size: 20px;
  text-align: center;
  margin-bottom: 70px;
  color: #757575;
}

body .main-client .client-content .client-logo, body .main-news .news-content .news-logo, body .main-destination .destination-content .destination-logo {
  font-size: 50px;
  margin-bottom: 30px;
  text-align: center;
}

.container {
  width: 1300px;
  margin: 0 auto;
}

.row {
  display: flex;
}

.intro {
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
}

.intro-media {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: black url(images/image1.jpg) no-repeat 50% 50%;
  background-size: cover;
}

.grid-block-content {
  width: 65%;
  margin: 0 auto;
  margin-top: 30px;
}
.grid-block-content .grid-block-content-logo {
  font-size: 20px;
  margin-bottom: 30px;
}
.grid-block-content .grid-block-content-text {
  font-size: 16px;
  color: #757575;
  line-height: 25px;
}

.grid-block-content-logo {
  font-size: 20px;
  margin-bottom: 30px;
}

.grid-block-content-text {
  font-size: 16px;
  color: #757575;
  line-height: 25px;
}

body {
  font-family: "Roboto", sans-serif;
}
body .header {
  width: 100%;
  padding-top: 42px;
  position: relative;
  color: #e5e5e5;
}
body .header .container .row {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #8795a9;
  height: 57px;
}
body .header .container .row .col-4 {
  width: 50%;
}
body .header .container .row .col-4 .menu {
  display: flex;
}
body .header .container .row .col-4 .menu li {
  color: #e5e5e5;
  margin-right: 30px;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}
body .header .container .row .col-3 {
  width: 16%;
}
body .header .container .row .col-3 img {
  height: 15px;
  width: 15px;
  margin-right: 5px;
  margin-left: 5px;
}
body .main {
  height: 850px;
  position: relative;
}
body .main .logo-content {
  margin: 0 auto;
  text-align: center;
  color: white;
  margin-top: 220px;
}
body .main .logo-content .logo {
  margin-bottom: 30px;
  font-size: 70px;
  font-weight: bold;
}
body .main .logo-content .logo-text {
  font-size: 18px;
  margin-bottom: 35px;
  font-weight: 400;
}
body .main .logo-content .logo-button {
  font-size: 16px;
}
body .main .logo-content .logo-button button:hover {
  background-color: #d19121;
}
body .main .watch-intro-video {
  width: 156px;
  height: 55px;
  display: flex;
  color: white;
  position: absolute;
  bottom: 0;
  margin-bottom: 50px;
  margin-left: 50px;
}
body .main .watch-intro-video .watch-intro-video-text {
  margin-left: 5px;
  padding-top: 10px;
}
body .main .watch-intro-video .watch-intro-video-text .watch {
  margin-bottom: 5px;
  font-size: 14px;
}
body .main .watch-intro-video .watch-intro-video-text .intro-video {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
}
body .main-welcome {
  height: 950px;
}
body .main-welcome .welcome-content {
  text-align: center;
  margin-top: 150px;
}
body .main-welcome .welcome-content .welcome-logo {
  font-size: 50px;
  margin-bottom: 30px;
}
body .main-welcome .welcome-content .welcome-text {
  color: #757575;
  margin: 0 auto;
  width: 70%;
  font-size: 16px;
  line-height: 25px;
  margin-bottom: 100px;
}
body .main-welcome .slider-welcome {
  padding-top: 100px;
  padding-bottom: 170px;
  width: 65%;
  margin: 0 auto;
}
body .main-welcome .slider-welcome .slider-content-1 img {
  margin-bottom: 30px;
}
body .main-welcome .slider-welcome .slider-content-1 .slider-welcome-logo {
  font-size: 18px;
  margin-bottom: 30px;
}
body .main-welcome .slider-welcome .slider-content-1 .slider-welcome-text {
  line-height: 27px;
}
body .main-welcome .slider-welcome .slider-content-2 img {
  margin-bottom: 30px;
}
body .main-welcome .slider-welcome .slider-content-2 .slider-welcome-logo {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 30px;
}
body .main-welcome .slider-welcome .slider-content-2 .slider-welcome-text {
  line-height: 27px;
}
body .main-welcome .slider-welcome .slider-content-3 img {
  margin-bottom: 30px;
}
body .main-welcome .slider-welcome .slider-content-3 .slider-welcome-logo {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 30px;
}
body .main-welcome .slider-welcome .slider-content-3 .slider-welcome-text {
  line-height: 27px;
}
body .main-welcome .slider-welcome .slick-dots li button:before {
  content: "◉";
  font-size: 25px;
  color: #757575;
  opacity: 1;
}
body .main-welcome .slider-welcome .stick-active {
  font-size: 35px;
}
body .main-welcome .slider-welcome .slick-dots li.slick-active button:before {
  color: #fbad27;
  font-size: 30px;
}
body .main-destination {
  height: 1345px;
}
body .main-destination .destination-content .destination-search {
  text-align: center;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 40px 85px;
}
body .main-destination .destination-content .destination-search .destination-search-text {
  font-size: 21px;
  font-weight: 600;
  color: black;
}
body .main-destination .slider-destination {
  height: 850px;
}
body .main-destination .slider-destination .slider-destination-content {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-column-gap: 50px;
  grid-row-gap: 50px;
}
body .main-destination .slider-destination .slider-destination-content .image-content-slider {
  position: relative;
}
body .main-destination .slider-destination .slider-destination-content .image-content-slider .image-content-slider-text {
  position: absolute;
  font-weight: bold;
  font-size: 24px;
  color: white;
  top: 60px;
  right: 41%;
}
body .main-destination .slider-destination .slider-destination-content .image-content-slider img {
  height: 400px;
  width: 400px;
}
body .main-destination .slider-destination .slick-next {
  right: -115px;
}
body .main-destination .slider-destination .slick-prev {
  left: -115px;
}
body .main-destination .slider-destination .slick-next:before {
  content: "🡒";
}
body .main-destination .slider-destination .slick-prev:before {
  content: "🡐";
}
body .main-destination .slider-destination .slick-prev:hover .slick-next:hover {
  outline: none;
  background: transparent;
  color: #757575;
}
body .main-destination .slider-destination .slick-prev:before, body .main-destination .slider-destination .slick-next:before {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 35px;
  line-height: 1;
  color: #fbad27;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body .main-news {
  height: 1200px;
}
body .main-news .block-news {
  height: 737px;
  width: 1300px;
  margin-bottom: 120px;
  display: grid;
  grid-template-columns: 72% 22.4%;
  grid-auto-rows: 100%;
  grid-gap: 75px;
}
body .main-news .block-news .news-block-1 {
  display: inline-grid;
  grid-template-columns: 61% 31%;
  grid-template-rows: 62% 28%;
  grid-gap: 75px;
}
body .main-news .block-news .news-block-1 img {
  height: 100%;
  width: 100%;
}
body .main-news .block-news .news-block-1 .grid-block img {
  height: 210px;
  width: 290px;
}
body .main-news .block-news .news-block-1 .grid-block-columns {
  display: grid;
  grid-template-columns: 49% 51%;
}
body .main-news .block-news .news-block-1 .grid-block-columns .grid-block-content-columns {
  margin: 0 auto;
  width: 73%;
}
body .main-news .block-news .news-block-1 .grid-block-columns .grid-block-content-columns .grid-block-content-logo {
  margin-top: 8px;
  margin-bottom: 15px;
}
body .main-news .block-news .news-block-1 .grid-block-columns img {
  height: 205px;
  width: 290px;
}
body .main-news .block-news .news-block-2 {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 28% 100%;
  grid-row-gap: 75px;
}
body .main-news .block-news .news-block-2 img {
  height: 210px;
  width: 290px;
}
body .main-news .news-button {
  text-align: center;
}
body .main-news .news-button button:hover {
  background-color: #d19121;
}
body .main-client {
  height: 950px;
}
body .main-client .slider-client {
  height: 190px;
  width: 790px;
  margin: 0 auto;
  padding-bottom: 380px;
}
body .main-client .slider-client .slider-client-content {
  display: grid;
  grid-template-columns: 180px 520px;
  grid-column-gap: 40px;
  line-height: 23px;
}
body .main-client .slider-client .slider-client-content img {
  height: 190px;
  width: 180px;
  border-radius: 10px;
}
body .main-client .slider-client .slider-client-content .slider-client-content-text {
  font-size: 16px;
  color: #757575;
}
body .main-client .slider-client .slider-client-content .slider-client-content-text .slider-client-name {
  color: #fbad27;
  font-weight: 600;
  margin-top: 40px;
  margin-bottom: 10px;
}
body .main-client .slider-client .slider-client-content .slider-client-content-text .slider-client-citys {
  font-size: 14px;
}
body .main-client .slider-client .slick-dots li button:before {
  content: "◉";
  font-size: 25px;
  color: #757575;
  opacity: 1;
}
body .main-client .slider-client .stick-active {
  font-size: 35px;
}
body .main-client .slider-client .slick-dots li.slick-active button:before {
  color: #fbad27;
  font-size: 30px;
}
body .footer {
  height: 820px;
}
body .footer .orange-block {
  height: 250px;
  background-color: #fbad27;
  padding-top: 100px;
  padding-bottom: 100px;
  margin-bottom: 250px;
}
body .footer .orange-block .footer-orange-block-content {
  display: grid;
  grid-template-columns: 780px 225px;
  grid-column-gap: 295px;
}
body .footer .orange-block .footer-orange-block-content .footer-orange-block-text {
  font-size: 40px;
  color: white;
  padding-top: 5px;
}
body .footer .orange-block .footer-orange-block-content .footer-orange-block-button button {
  border: 2px solid white;
}
body .footer .orange-block .footer-orange-block-content .footer-orange-block-button button:hover {
  background-color: #d19121;
}
body .footer .footer-main {
  height: 115px;
}
body .footer .footer-main .row-grid {
  display: grid;
  grid-template-columns: 100px repeat(3, 200px);
  grid-column-gap: 200px;
}
body .footer .footer-main .row-grid .footer-about-us-below-logo {
  width: 80px;
}
body .footer .footer-main .row-grid .twiter {
  margin-right: 10px;
}
body .footer .footer-main .row-grid .twiter:hover {
  background-color: #fbad27;
}
body .footer .footer-main .row-grid .facebook {
  margin-right: 10px;
  background-image: url(icon/footer-facebook.png);
}
body .footer .footer-main .row-grid .facebook:hover {
  background-color: #fbad27;
}
body .footer .footer-main .row-grid .instagram {
  background-image: url(icon/icons8-instagram-старый-30.png);
}
body .footer .footer-main .row-grid .instagram:hover {
  background-color: #fbad27;
}
body .footer .footer-main .footer-the-end {
  font-size: 15px;
  margin-top: 120px;
  color: #616161;
  text-align: center;
}/*# sourceMappingURL=style.css.map */