*{
    box-sizing: border-box;
}

[class*="slider-content-"]{
    margin-left: 50px;
    margin-right: 20px;
}



%button-style{
    width: 225px;
    height: 50px;
    border: none;
    background-color: #fbad27;
    color: white;
    border-radius: 50px;
    font-weight: bold;
    cursor: pointer;
}


%logo-font-size-and-margin-botton{
    font-size: 50px;
    margin-bottom: 30px;
}
%text-logo-style{
    color: #757575;
    margin: 0 auto;
    font-size: 16px;
}

%content-150px-center{

    text-align: center;
    margin-top: 150px;

}

.container{

    width: 1300px;
    margin: 0 auto;
}
.row{
    display: flex;
}
.section-bg{
    background-image: url(images/image1.jpg);
    background-position: center;
    background-repeat: no-repeat;
}



body{
    font-family: 'Roboto', sans-serif;

    .header{

        width: 100%;
        padding-top: 42px;
       
        
        color:#e5e5e5 ;
        
     
        .container{

    
            
            .row{
                display: flex;
                justify-content: space-between;
                border-bottom: 1px solid #8795a9;
                height: 57px;

                .col-4{

                    width: 50%;

                    .menu{
                        display: flex;
                       

                        
                        
                        li{
                            margin-right: 30px;
                            display:inline-block;
                            font-size: 16px;
                            cursor: pointer;
                        }
                       
                    }
                }
                .col-3{
                    width: 15%;
                    img{

                        height: 15px;
                        width: 15px;
                        margin-right: 5px;
                        margin-left: 5px;

                    }
                }
            }
        }

    }

    .main{
      
        height: 850px;
        position: relative;
        .container{
           
            .row{
                
                .logo-content{
                    margin: 0 auto;
                    text-align: center;
                    color: white;   
                    margin-top: 220px;
                    .logo{
                        margin-bottom: 30px;
                        font-size: 70px;
                        font-weight: bold;
                    
                    }
                    .logo-text{
                        font-size: 18px;
                        margin-bottom: 35px;
                        font-weight: 400;
                    }
                    .logo-button{
                        font-size: 16px;
                        button{
                            @extend %button-style
                            
                        }
                    }
                }
            }
        }
        .watch-intro-video{
            width: 156px;
            height: 55px;
            display: flex;
            color: white;
            position: absolute;
            bottom: 0;
            margin-bottom: 50px;
            margin-left: 50px;
          .watch-intro-video-text{

            margin-left: 5px;
            padding-top: 10px;

            .watch{
                margin-bottom: 5px;
                font-size: 14px;
            }
            .intro-video{
                font-size: 16px;
                font-weight: 600;
                text-transform: uppercase;
            }

          }

            
           
            
        }
    }


    .main-welcome{
        height: 950px;
        

        .container{
            .row{
                .welcome-content{

                   
                    @extend %content-150px-center;

                    .welcome-logo{

                       @extend %logo-font-size-and-margin-botton;

                    }
                    .welcome-text{
                        @extend %text-logo-style;
                        width: 70%;
                        line-height: 25px;
                        margin-bottom: 100px;
                    }
                }
               
            }
        }

        .slider-welcome{
           
            
            padding-top: 100px;
            padding-bottom: 170px;
            width: 65%;
            margin: 0 auto;
    
           

            .slider-content-1{
                
               
             
              
                img{
                    margin-bottom: 30px;
                    
                }
                .slider-welcome-logo{
                    font-size: 18px;
                    
                    margin-bottom: 30px;
                    


                }
                .slider-welcome-text{
                    
                    line-height: 27px;
                }
               
            }
            .slider-content-2{
                
                img{
                    
                    margin-bottom: 30px;
                }
                .slider-welcome-logo{
                 
                    font-size: 18px;
                    font-weight: bold;
                    margin-bottom: 30px;


                }
                .slider-welcome-text{
                    
                    line-height: 27px;
                }
            }
            .slider-content-3{
                
                img{
                    
                    margin-bottom: 30px;
                }
                .slider-welcome-logo{
                 
                    font-size: 18px;
                    font-weight: 700;
                    margin-bottom: 30px;


                }
                .slider-welcome-text{
                    
                    line-height: 27px;
                }
            }
            

            .slick-dots li button:before {
              
                content: "◉";
                font-size:25px ;
                color: #757575;
                opacity: 1;
              
            }
            .stick-active{
                font-size: 35px;
            }
            .slick-dots li.slick-active button:before {
                color: #fbad27;
                font-size: 30px;
                
            }
        }

    }

    .main-destination{

        
        height: 1345px;

        .container{
            .row{
                .destination-logo-content{
                    @extend %logo-150px-center;
                  
                    width: 100%;
                    margin-bottom: 85px;

                    .destination-logo{
                        @extend %logo-font-size-and-margin-botton;
                        
                        
                    }
                    .destination-text{
                        @extend %text-logo-style;
                        
                        margin-bottom: 70px;
                    }
                    .destination-search{
                        text-align: center;
                        display: grid;
                        justify-content: center;
                        align-items: center;
                        grid-template-columns: 40px 85px;
                       
                        .destination-search-text{
                            font-size: 21px;
                            font-weight: 600;
                            color: black;
                            
                        }
                        
                    }
                }
            }
        }

        .slider-destination{
            height: 850px;

            .slider-destination-content{
                display: grid;
                justify-content: center;
                grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
                
                grid-column-gap: 50px;
                grid-row-gap: 50px;

                .image-content-slider{
                    position: relative;
                    .image-content-slider-text{
                        position: absolute;
                        font-weight: bold;
                        font-size: 24px;
                        color: white;
                        top: 60px;
                        right: 41%;
                        


                        
                    }
                    img{
                        height: 400px;
                        width: 400px;
                    }
                 
                }
               
            }
            .slick-next {
                right: -115px;
            }
            .slick-prev {
                left: -115px;
            }
            .slick-next:before {
                content: "🡒";
            } .slick-prev:before {
                content: "🡐";
                
            }
            .slick-prev:hover .slick-next:hover {
                outline: none;
                background: transparent;
                color: #757575;
            }
            .slick-prev:before, .slick-next:before {
                font-family:Arial, Helvetica, sans-serif;
                font-size: 35px;
                color: #fbad27;
                
                
            }
        }

    }

    .main-news{
        height: 1370px;

        .container{
            .row{
                 .news-logo-content{

                    text-align: center;
                    margin-top: 150px;
                    

                 }
            }
        }
    }

}


