*{
    box-sizing: border-box;
}

%button-style{
    width: 225px;
    height: 50px;
    border: none;
    background-color: #fbad27;
    color: white;
    border-radius: 50px;
    font-weight: bold;
    cursor: pointer;
}
%follow-contact-style{
    background-image: url(icon/footer-twiter.png);
    background-color: #616161;
    background-position: center;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    height: 40px;
    width: 40px;

}
%footer-content-logo-color{
    color: black;
    font-size: 20px;
    margin-bottom: 30px;
    font-weight: 600;
}
%footer-content-text-color{
    color: #757575;
    font-size: 16px;
    line-height:25px;
    
}
[class*="slider-content-"]{
    margin-left: 50px;
    margin-right: 20px;
}
%content-style{
    margin: 0 auto;
    margin-top: 150px;
    margin-bottom: 85px;
}
%text-logo-style{
    font-size: 20px;
                        
    text-align: center;
    margin-bottom: 70px;
    color: #757575;
}

%main-logos-style{
    font-size: 50px;
    margin-bottom: 30px;
    text-align: center;
    
}

.container{

    width: 1300px;
    margin: 0 auto;
}
.row{
    display: flex;
}
.intro{
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
}
.intro-media{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: black url(images/image1.jpg) no-repeat 50% 50%;
    background-size: cover;
}
.grid-block-content{
                                
    width: 65%;
    margin: 0 auto;
    margin-top: 30px;
    
    .grid-block-content-logo{
        font-size: 20px;
        margin-bottom: 30px;
    }
    .grid-block-content-text{
        font-size: 16px;
        color: #757575;
        line-height: 25px;
    }
}
.grid-block-content-logo{
    font-size: 20px;
    margin-bottom: 30px;
}
.grid-block-content-text{
    font-size: 16px;
    color: #757575;
    line-height: 25px;
}


body{
    font-family: 'Roboto', sans-serif;

    .header{
      
        width: 100%;
        padding-top: 42px;
        position: relative;
        
        color:#e5e5e5 ;
        
     
        .container{
            
            
            
            .row{
                
                display: flex;
                justify-content: space-between;
                border-bottom: 1px solid #8795a9;
                height: 57px;

                .col-4{
                   
                    width: 50%;

                    .menu{
                        display: flex;
                       

                        
                        
                        li{
                            color: #e5e5e5;
                            margin-right: 30px;
                            display:inline-block;
                            font-size: 16px;
                            cursor: pointer;
                        }
                       
                    }
                }
                .col-3{
                    width: 16%;
                    img{

                        height: 15px;
                        width: 15px;
                        margin-right: 5px;
                        margin-left: 5px;

                    }
                }
            }
        }

    }

    .main{
      
        height: 850px;
        position: relative;

           

                .logo-content{
                    margin: 0 auto;
                    text-align: center;
                    color: white;   
                    margin-top: 220px;
                    .logo{
                        margin-bottom: 30px;
                        font-size: 70px;
                        font-weight: bold;
                    
                    }
                    .logo-text{
                        font-size: 18px;
                        margin-bottom: 35px;
                        font-weight: 400;
                    }
                    .logo-button{
                        font-size: 16px;
                        button{
                            @extend %button-style
                            
                        }
                        button:hover{
                            background-color: #d19121;
                        }
                    }
          
        }
        .watch-intro-video{
            width: 156px;
            height: 55px;
            display: flex;
            color: white;
            position: absolute;
            bottom: 0;
            margin-bottom: 50px;
            margin-left: 50px;
          .watch-intro-video-text{

            margin-left: 5px;
            padding-top: 10px;

            .watch{
                margin-bottom: 5px;
                font-size: 14px;
            }
            .intro-video{
                font-size: 16px;
                font-weight: 600;
                text-transform: uppercase;
            }

          }

            
           
            
        }
    }


    .main-welcome{
        height: 950px;
        

                .welcome-content{

                   
                    text-align: center;
                    margin-top: 150px;

                    .welcome-logo{

                        font-size: 50px;
                        margin-bottom: 30px;

                    }
                    .welcome-text{
                       
                        color: #757575;
                        margin: 0 auto;
                        width: 70%;
                        font-size: 16px;
                        line-height: 25px;
                        margin-bottom: 100px;
                    }
      

        }

        .slider-welcome{
           
            
            padding-top: 100px;
            padding-bottom: 170px;
            width: 65%;
            margin: 0 auto;
    
           

            .slider-content-1{
                
               
             
              
                img{
                    margin-bottom: 30px;
                    
                }
                .slider-welcome-logo{
                    font-size: 18px;
                    
                    margin-bottom: 30px;
                    


                }
                .slider-welcome-text{
                    
                    line-height: 27px;
                }
               
            }
            .slider-content-2{
                
                img{
                    
                    margin-bottom: 30px;
                }
                .slider-welcome-logo{
                 
                    font-size: 18px;
                    font-weight: bold;
                    margin-bottom: 30px;


                }
                .slider-welcome-text{
                    
                    line-height: 27px;
                }
            }
            .slider-content-3{
                
                img{
                    
                    margin-bottom: 30px;
                }
                .slider-welcome-logo{
                 
                    font-size: 18px;
                    font-weight: 700;
                    margin-bottom: 30px;


                }
                .slider-welcome-text{
                    
                    line-height: 27px;
                }
            }
            

            .slick-dots li button:before {
              
                content: "◉";
                font-size:25px ;
                color: #757575;
                opacity: 1;
              
            }
            .stick-active{
                font-size: 35px;
            }
            .slick-dots li.slick-active button:before {
                color: #fbad27;
                font-size: 30px;
                
            }
        }

    }

    .main-destination{

        
        height: 1345px;

        
       
                .destination-content{

                    @extend %content-style;

                    .destination-logo{
                        @extend  %main-logos-style;
                        
                        
                    }
                    .destination-text{
                        
                       @extend %text-logo-style
                    }
                    .destination-search{
                        text-align: center;
                        display: grid;
                        justify-content: center;
                        align-items: center;
                        grid-template-columns: 40px 85px;
                       
                        .destination-search-text{
                            font-size: 21px;
                            font-weight: 600;
                            color: black;
                            
                        }
                        
                    }
            
     
        }

        .slider-destination{
            height: 850px;

            .slider-destination-content{
                display: grid;
                justify-content: center;
                grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
                
                grid-column-gap: 50px;
                grid-row-gap: 50px;

                .image-content-slider{
                    position: relative;
                    .image-content-slider-text{
                        position: absolute;
                        font-weight: bold;
                        font-size: 24px;
                        color: white;
                        top: 60px;
                        right: 41%;
                        


                        
                    }
                    img{
                        height: 400px;
                        width: 400px;
                    }
                 
                }
               
            }
            .slick-next {
                right: -115px;
            }
            .slick-prev {
                left: -115px;
            }
            .slick-next:before {
                content: "🡒";
            } .slick-prev:before {
                content: "🡐";
                
            }
            .slick-prev:hover .slick-next:hover {
                outline: none;
                background: transparent;
                color: #757575;
            }
            .slick-prev:before, .slick-next:before {
                font-family:Arial, Helvetica, sans-serif;
                font-size: 35px;
                line-height: 1;
                color: #fbad27;
                opacity: 0.75;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
            }
        }

    }

    .main-news{
        height: 1200px;
        
          
                .news-content{
                    @extend %content-style;
                    .news-logo{
                        @extend %main-logos-style;
                    }
                    .news-text{
                        @extend %text-logo-style;
                        
                    }
                }
                .block-news{
                    height: 737px;
                    width: 1300px;
                    margin-bottom: 120px;
                    display: grid;
                    grid-template-columns: 72% 22.4%;
                    grid-auto-rows: 100%;
                    grid-gap: 75px;

                    .news-block-1{
                        
                        display: inline-grid;
                        grid-template-columns: 61% 31%;
                        grid-template-rows: 62% 28%;
                        
                        grid-gap: 75px;
                     
                        img{
                       
                            height: 100%;
                            width: 100%;
                        }
                        .grid-block{

                            img{
                                height: 210px;
                                width: 290px;
                            }
                            
                        }
                        .grid-block-columns{
                            display: grid;
                            grid-template-columns: 49% 51%;
                            .grid-block-content-columns{
                                margin: 0 auto;
                                width: 73%;
                                .grid-block-content-logo{
                                    margin-top: 8px;
                                    margin-bottom: 15px;
                                }
                                
                            }
                            img{
                                height: 205px;
                                width: 290px;
                            }
                        }
                    }

                    .news-block-2{
                        display: grid;
                        grid-template-columns: 100%;
                        grid-template-rows: 28% 100%;
                        grid-row-gap: 75px;
                        img{
                            height: 210px;
                            width: 290px;
                        }
                        
                    }
                   
                }
                .news-button{
                    text-align: center;
                    
                    
                    
                    button{
                        
                      @extend  %button-style;
                      
                      
                    }
                    button:hover{
                        background-color: #d19121;
                    }
                }
        
        
    }
    .main-client{
        height: 950px;
    
        .client-content{
            @extend %content-style;
            .client-logo{
                @extend %main-logos-style;
            }
            .client-text{
                @extend %text-logo-style
            }
        }
        .slider-client{
            
            height: 190px;
            width: 790px;
            margin: 0 auto;
            padding-bottom: 380px;
            
            
            .slider-client-content{
                
                display: grid;   
                grid-template-columns: 180px 520px;
                grid-column-gap:40px ;
                line-height: 23px;
                
                img{
                    height: 190px;
                    width: 180px;
                    border-radius: 10px;
                }
                .slider-client-content-text{
                    font-size: 16px;
                    color: #757575;
                    .slider-client-name{
                        color: #fbad27;
                        font-weight: 600;
                        margin-top: 40px;
                        margin-bottom: 10px;
                    }
                    .slider-client-citys{
                        font-size: 14px;
                    }
                }
            }
           
            

            .slick-dots li button:before {
              
                content: "◉";
                font-size:25px ;
                color: #757575;
                opacity: 1;
              
            }
            .stick-active{
                font-size: 35px;
            }
            .slick-dots li.slick-active button:before {
                color: #fbad27;
                font-size: 30px;
                
            }

        }
        
    }
    .footer{
        height:  820px;
        .orange-block{
            height: 250px;
            background-color: #fbad27;
            padding-top: 100px;
            padding-bottom: 100px;
            margin-bottom: 250px;
            .footer-orange-block-content{

                display: grid;
                grid-template-columns: 780px 225px;
                grid-column-gap: 295px;

                .footer-orange-block-text{
                    font-size: 40px;
                    color: white;
                    padding-top: 5px
                }
                .footer-orange-block-button{
                    button{
                        @extend %button-style;
                        border: 2px solid white;
                    }
                    button:hover{
                        background-color: #d19121;
                    }
                }
            }
           
        }
        .footer-main{
            height: 115px;
            
            .row-grid{
                display: grid;
                grid-template-columns: 100px repeat(3,200px);
                grid-column-gap:200px ;

               

                    .footer-about-us-logo{
                        @extend %footer-content-logo-color;
                    }
                    .footer-about-us-below-logo{
                        @extend %footer-content-text-color;
                        width: 80px;
                    }

                    .footer-address-logo{
                        @extend %footer-content-logo-color;
                    }
                    .footer-address-below-logo{
                        @extend %footer-content-text-color;
                    }

                    .footer-contact-us-logo{
                        @extend %footer-content-logo-color;
                    }
                    .footer-contact-us-below-logo{
                        @extend %footer-content-text-color;
                    }
                    .footer-follow-us-logo{
                        @extend %footer-content-logo-color;
                        
                    }
                   
                    
                   
                   .twiter{
                    
                      @extend %follow-contact-style;
                        margin-right: 10px
                   }
                   .twiter:hover{
                    background-color: #fbad27;
                   }
                   .facebook{
                    @extend %follow-contact-style;
                    margin-right: 10px;
                    background-image: url(icon/footer-facebook.png);
                   }
                   .facebook:hover{
                    background-color: #fbad27;
                   }
                   .instagram{
                       @extend %follow-contact-style;
                       background-image: url(icon/icons8-instagram-старый-30.png);
                       
                   }
                   .instagram:hover{
                    background-color: #fbad27;
                   }
            }
            .footer-the-end{
                font-size: 15px;
                
                margin-top: 120px;
                color: #616161;
                text-align: center;
            }
        }
    }
}


